<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% extends "layouts/base.html" %}
{% block tittle %}crear{% endblock  %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/insert.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

{% endblock %} 
{% block content %}

<div class="container">
    <a href="/home">volver</a>
    <h1 class="display-4">Hola Actualizar</h1>
    <form action="{% url 'update'  %}" id="form-insert" method="POST">
        {% csrf_token %}
        {% for detalle in detalle_eve %}
        <div class="form-group row cajita">

            <input type="hidden" name="evento_id" id="evento_id" value="{{detalle.id}}">
            <label for="organizador" class="col-sm-2 col-form-label">Organizador</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="organizador" id="organizador" value="{{detalle.organizador}}">
            </div>
        </div>

        <div class="form-group row cajita">
            <label for="tipo" class="col-sm-2 col-form-label">Tipo</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="tipo" id="tipo" value="{{detalle.tipo}}">
            </div>
        </div>

        <div class="form-group row cajita">
            <label for="fecha" class="col-sm-2 col-form-label">Fecha</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="fecha" id="fecha" value="{{detalle.fecha}}">
            </div>
        </div>

        <div class="form-group row cajita">
            <label for="hora" class="col-sm-2 col-form-label">Hora</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="hora" id="hora" value="{{detalle.hora}}">
            </div>
        </div>

        <div class="form-group row cajita">
            <label for="lugar" class="col-sm-2 col-form-label">Lugar</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="lugar" id="lugar" value="{{detalle.lugar}}">
            </div>
        </div>

        <div class="form-group row cajita">
            <label for="presupuesto" class="col-sm-2 col-form-label">Presupuesto</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="presupuesto" id="presupuesto" value="{{detalle.presupuesto}}">
            </div>
        </div>

        <div class="form-group row cajita">
            <label for="cantidad" class="col-sm-2 col-form-label">Cantidad de Personas</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="cantidad" id="cantidad" value="{{detalle.cantidad_personas}}">
            </div>
        </div>  
        <div class="form-group row cajita">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </div>
        {% endfor %}
    </form>
    {% if mensaje %}
    <script>
        
        Swal.fire({
            title: 'Actualizado',
            text: ("{{mensaje}}"),
            icon: 'success'
          });
      
        
    </script>
    {% endif %}
    {% if mensaje_error %}
    <script>
        
        Swal.fire({
            title: '',
            text: ("{{ mensaje_error }}"),
            icon: 'error'
          });
      
        
    </script>
    {% endif %}

    <div>{{dato}}</div>

</div>
<script>
    // Función para ocultar el mensaje después de un cierto tiempo (por ejemplo, 5 segundos)
    setTimeout(function() {
        var alerta = document.getElementById('alerta');
        if (alerta) {
            alerta.style.display = 'none';
        }
    }, 3000); // 3000 milisegundos = 3 segundos
    </script>

{% endblock %}
